<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'simplesocial/css/master.css'%}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark mynav" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-nav align-items-centre">
                <a class="navbar-brand mynav" href="{% url 'home' %}">Message Boardapp</a>
            </div>
            <div class="navbar-nav ml-auto">
                {% if user.is_authenticatec %}
                    <a class="nav-item nav-link"  href="{% url 'post:create' %}" class="btn btn-simple" >Post</a>
                    <a class="nav-item nav-link"  href="{% url 'post:all' %}" class="btn btn-simple" >All Post</a>
                    <a class="nav-item nav-link"  href="{% url 'accounts:logout' %}" class="btn btn-simple" >Logout</a>
                    <a  class="nav-item nav-link">Welcome {{ user.username}} , Let's hack:)</a>
                {% else %}
                    <a class="nav-item nav-link"  href="{% url 'accounts:login' %}" class="btn btn-simple" >Login</a>
                    <a class="nav-item nav-link"  href="{% url 'accounts:signup' %}" class="btn btn-simple" >Sign up</a>
                {% endif %}
            </div>

        </div>

    </nav>
    <div class="container mycontent">
        {% block content %}
        {% endblock  %}

    </div>
    
</body>
</html>